  body{
    background-color: #FEF8FF;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

 
 .top-bar {
      background-color:#FFAB81;
      color: rgb(0, 1, 16);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 40px;
      font-size: 14px;
    }

    .top-bar a {
      color: rgb(253, 253, 253);
      text-decoration: none;
    }

    .top-bar a:hover {
      text-decoration: underline;
    }

    /* Contenedor principal */
    .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 3rem;
      background-color: #ffffff;
    }

    /* Logo */
    .logo {
    width: 140px;
    
}

    .logo-image{
      font-size: 28px;
      font-weight: bold;
      display: flex;
    
    }

    /* Buscador */
    .search-box {
      display: flex;
      flex: 1;
      max-width: 700px;
      margin: 0 2rem;
      border: 1px solid #eee;
      border-radius: 40px;
      overflow: hidden;
      box-shadow: 0 2px 6px rgba(red, green, blue, alpha);
    }

    .search-box input {
      flex: 1;
      border: none;
      padding: 0.9rem 1.2rem;
      font-size: 1rem;
      outline: none;
    }

    .search-box button {
      background-color: #FFAB81;
      color: white;
      border: none;
      padding: 2rem;
      font-size: 600;
      cursor: pointer;
    }

    .search-box button:hover {
      background-color: #e25e11;
    }

    /* Elementos a la derecha */
    .right-section {
      display: flex;
      align-items: center;
      gap: 20px;
      text-align: center;
      
    }

    .info-box {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      border-radius: 12px;
      padding: 0.6rem 1rem;
      border: 3px solid wheat;
    }

    .info-box span {
      font-weight: 800;
    }

   
/*menu*/
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
    gap: 2rem;
    border-top: 1px solid orange;
}

.container-categorias {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    border: 1px solid rgb(4, 102, 4);
    justify-content: center;
}

.nav-bar a{
  color: red;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}



ul.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.promo {
    font-size: 15px;
    font-weight: 600;
    border: 1px solid orange;
}

/*Carousel*/
.carousel {
    width: 100%;
    overflow-x: auto;
    margin: 3em auto;
    display: flex;
    gap: 1em;
    /* border: 1px solid green; */
    scroll-behavior: smooth;
    anchor-name: --carousel;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;
    /* height: 26rem; */
}

.elemento {
    scroll-snap-align: start;
    flex: 0 0 97%;
    /* aspect-ratio: 9 / 16; */
    /* height: 29rem; */
    background-color: rgb(214, 142, 142);
    padding: 1em;
    border-radius: .5em;
    text-align: center;
    align-content: center;
    /* width: 100%; */
    /* flex-basis: 100vw; */
}

img {
    /* width: 100%; */
    /* padding: 100%; */
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    border-radius: .6rem;
}

.carousel::-webkit-scrollbar{
  display: none;
}

.carousel::scroll-button(right),.carousel::scroll-button(left) {
  content:'→';
  border: none;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 3rem;
  color: #eee;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding-bottom: .1em;
  cursor: pointer;
  position: fixed;
  position-anchor: --carousel;
  position-area: right center;
  translate: -50%;
}

.carousel::scroll-button(left) {
  content:'←';
  position-area: left center;
  translate: 50%;
}

.carousel::scroll-marker-group{
  display: flex;
  justify-content: center;
  gap: .5em;
  transform: translateY(-8rem);
}

.elemento::scroll-marker{
content: '';
height: 1em;
width: 1em;
background-color: #e25e11;
border-radius: 50%;
}

.elemento::scroll-marker:target-current{
  -webkit-margin-bottom-collapse: grey;
}



/*section*/
.section-popular {
    background-color: peachpuff;

}


h2{
  text-align: center;
  font-family: cursive;
  font-size: 2rem;
  color: rgb(190, 54, 77);
}

h3{
  color: fuchsia;
  font-family: cursive;
}

p{
  color: rgb(203, 41, 68);
  font-family: cursive;
}

.container-popular {
    display: flex;
    justify-content: center;
    gap: .4rem;
    flex-basis: 13rem;
    flex-wrap: wrap;
}

.content-brands {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
    border-top: 2px dotted fuchsia;
    flex-basis: 19%;
    box-sizing: border-box;
}

.font-awesome.fa-brands.fa-twitch{
  display: flex;
  padding: 1rem;
}

.card-brans-1{
  flex: 1;
  padding: 2rem 1rem;
  text-align: center;
}

.card-brans-2{
  flex: 1;
  padding: 2rem 1rem;
  text-align: center;
}

img {
    width: 100%;
    /* padding: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
}

@media ( width > 768px ) {
  .elemento {
    flex: 1 0 50%;
  }
}

@media ( width > 1024px ) {
  .elemento {
    flex: 1 0 30%;
  }
}

@media ( width > 1200px ) {
  .elemento {
    flex: 1 0 20%;
  }
}