@import url(./normalize.css);

:root {
    /** Convierte 1rem en base 10*/
    --over-font-size: 62.5%;

    /** colores base */
}

html {
    font-size: var(--over-font-size);
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #db47a0;
  color: #fff;
  padding: 6px 50px;
  font-size: 14px;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
}

.center-text span {
  font-weight: 600;
}



/* --- Header Section --- */
.header {
    display: flex;
    flex-direction: column;
}

.logo-image {
    width: 15rem;
}


.search-bar {
    display: flex;
    flex: 1 0 50%;
    /* margin: 0 40px; */
}

.search-bar input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 30px 0 0 30px;
  font-size: 15px;
}

.search-bar button {
  background: #db47a0;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 0 30px 30px 0;
  cursor: pointer;
  font-weight: 600;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    gap: 2rem;
}

.header-info {
    display: flex;
    align-items: center;
    /* gap: 25px; */
    flex: 1 0 40%;
    justify-content: space-between;
}

.header-info .icon {
  font-size: 22px;
  margin-right: 5px;
}

.support, .cart {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
}

.user {
  font-size: 26px;
}






.container-categorias {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 600;
    border: 1px solid green;
    justify-content: center;
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    border-top: 1px solid #ef6300;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  justify-content: center;
  
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;

}

.promo {
    font-size: 14px;
    font-weight: 600;
    color: #e823a8;
    border: 1px solid orange;
}




@media (width > 567px) {
    .container {
        max-width: 54rem;
        padding: 0 1.6rem;
        /** Maneja la distancia entre contenido y el borde del contenedor e incrementa en 8px en cada media query */
    }
}

/** Header */
/** Main */
/**Aside*/
/**Footer*/

@media (width > 768px) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
}

/** Header */
/** Main */
/**Aside*/
/**Footer*/

@media (width > 1024px) {
    .container {
        max-width: 99.2rem;
        padding: 0 3.2rem;
    }
}

/** Header */
/** Main */
/**Aside*/
/**Footer*/

@media (width > 1200px) {
    .container {
        max-width: 114rem;
        padding: 0 4rem;
    }
}

/** Header */
/** Main */
/**Aside*/
/**Footer*/

@media (width > 1400px) {
    .container {
        max-width: 132rem;
        padding: 0 4.8rem;
    }
}

/** Header */
/** Main */
/**Aside*/
/**Footer*/

@media (width > 1600px) {
    .container {
        max-width: 144rem;
        padding: 0 5.6rem;
    }
}

/** Header */
/** Main */
/**Aside*/
/**Footer*/

@media (width > 1920px) {
    .container {
        max-width: 160rem;
        padding: 0 6.4rem;
    }
}

/** Header */
/** Main */
/**Aside*/
/**Footer*/